<section id="bio">
  <div class="container">
    <div class="row px-4 py-5 my-5 text-center">
      <h1>Bio</h1>
      <img class="d-block mx-auto mb-4" src="assets/images/bg-04.webp" />
      <div class="col-lg-8 mx-auto">
        <p class="lead mb-4 text-justify">
          Daily Grind - fünf Jungs aus Nürnberg, die sich dem Rock verschrieben haben.<br/>
          Die einzigartige Konstellation aus Chris (Lead Vocals, Gitarre), René (Gitarre, Backing Vocals), René „H“ (Bass), Chris (Keyboards, Backing Vocals) und Chris „Longo“ (Drums) macht die Band nicht nur namentlich zu einem „Full House“.<br/>
          Seit ihrer Gründung 2006 verbindet sie eine Leidenschaft: Musik.<br/>
          <br/>
          Ihre Songs entstehen ausnahmslos in Eigenregie - und das hört man.<br/>
          Detailverliebte Arrangements, facettenreiche Texte und ein Sound, der von emotionalen Balladen über Wohlfühl-Pop bis hin zu stadiontauglichen Rockhymnen reicht, prägen den Stil der Band.<br/> 
          Inspiriert von Größen wie Bon Jovi, Aerosmith, 3 Doors Down und Train, schaffen Daily Grind einen einladenden und zugleich eigenständigen Sound, der durchweg spannend bleibt.<br/>
          <br/>
          Bereits 2009 veröffentlichten sie ihr erstes <a href="#videos">Musikvideo zur Single „Hold On To Me“</a>, das beim <a href="https://www.bkjff.de/mittelfranken/21_die-preistraeger-2009/#1593287291499-1d5d3be7-e617">21. Mittelfränkischen Jugendfilmfestival</a> mit dem Sonderpreis für den besten Musikclip ausgezeichnet wurde.<br/>
          Nach unzähligen Gigs und harter Studioarbeit folgte <a href="#music">2013 das Debütalbum „Director's Cut“</a>, das elf sorgfältig ausgearbeitete Songs vereint.<br/>
          Das Album ist als CD und digital auf allen bekannten Plattformen erhältlich.<br/>
          <br/>
          Neben Auftritten als Vorband für Künstler wie <a href="https://www.bonjovitribute.de">Bounce</a> und <a href="https://thomasgodoj.de">Thomas Godoj</a> begeistern Daily Grind ihre Fans durch eine mitreißende Bühnenperformance, die niemanden unberührt lässt.
          <br/>
          Zum zehnjährigen Jubiläum 2016 begann die Band mit den Arbeiten an neuen Songs.<br/>
          2017 erschien die <a href="#music">EP „Driven“</a>, und während der Corona-Zeit widmeten sie sich intensiv ihrem neuen Longplayer.<br/>
          Das zweite Album verspricht eine Weiterentwicklung des typischen Daily Grind-Sounds - mit frischen Einflüssen, tiefgründigen Texten und einem noch breiteren stilistischen Spektrum.<br/>
          <br/>
          Mit ihrem Motto „Can you escape the Daily Grind?“ fordern die fünf Musiker nicht nur dazu auf, den Alltagstrott zu durchbrechen, sondern zeigen eindrucksvoll, dass ihre Musik genau das schafft: mitreißen, begeistern und unvergessliche Momente schaffen.
        </p>
      </div>
    </div>
  </div>
</section>
