<div class="container text-center">
  <footer class="py-3 my-4 border-top">
    <div class="row py-3 mb-2">
      <div class="col-12 text-body-secondary">
        <a href="imprint.html">Impressum</a> |
        <a href="privacy.html">Datenschutz</a>
      </div>
    </div>

    <div class="row py-3 mb-4">
      <div class="col-7 d-flex align-items-center">
        Copyright © 2006-{{ site.time | date: '%Y' }} Daily Grind
      </div>

      <ul class="nav col-5 justify-content-end list-unstyled d-flex">
        {%- for entry in site.social_links -%}
        <li class="ms-3">
          <a
            class="text-body-secondary"
            target="_blank"
            title="{{ entry.title | default: entry.href }}"
            href="{{ entry.href }}"
            ><i class="{{ entry.icon-class }}"></i
          ></a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </footer>
</div>
