<section id="hero">
  <div
    id="carouselHero"
    class="carousel slide"
    data-bs-ride="carousel"
  >

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/bg-02.webp" class="d-block w-100" />
      </div>
      <div class="carousel-item">
        <img src="assets/images/bg-01.webp" class="d-block w-100" />
      </div>
      <div class="carousel-item">
        <img src="assets/images/bg-04.webp" class="d-block w-100" />
      </div>
    </div>

    <div class="carousel-caption">

      <div>
      <img
        class="img-fluid mb-4"
        alt="DAILY GRIND"
        src="assets/images/dg-logo.webp"
      />
      </div>

      <div class="animate-bounce position-absolute bottom-0 start-50 translate-middle-x">
        <a
          class="btn p-3 lh-1 z-3 fs-5"
          href="#news"
        >
          <i class="fa-solid fa-chevron-down fa-lg"></i>
        </a>
      </div>

    </div>
  </div>
</section>
