<!-- HERO -->
<div id="carouselHero" class="z-n1 carousel slide mb-6 position-relative" data-bs-ride="carousel">
  <div class="carousel-inner"">
    <div class="carousel-item active">
      <img src="assets/images/bg-02.webp" class="d-block w-100" />
    </div>
    <div class="carousel-item">
      <img src="assets/images/bg-01.webp" class="d-block w-100" />
    </div>
    <div class="carousel-item">
      <img src="assets/images/bg-04.webp" class="d-block w-100" />
    </div>
  </div>
  
    <a class="btn btn-primary position-absolute bottom-0 start-50 translate-middle fs-2 p-3 lh-1" href="#main-content"><i class="fa-solid fa-chevron-down"></i></a>
  
  <div class="carousel-caption" style="height: 90%">
    <img class="img-fluid mb-4" alt="DAILY GRIND" src="assets/images/dg-logo.webp" />
  </div>
</div>
<!-- HERO END -->
