{% assign last_year = 0 %}
{% assign events = include.events %}
{% assign today = 'now' | date: "%Y-%m-%d" %}
<table class="table table-dark table-hover align-middle">
  {% if include.placeholder_year %}
    {% assign first_event_year = events.first.date | date: "%Y" %}
    {% if first_event_year != include.placeholder_year %}
      <tbody>
        <tr>
          <td colspan="3" class="p-4 text-muted text-center fst-italic border-0">Neue Termine folgen in Kürze...</td>
        </tr>
      </tbody>
      {% assign last_year = include.placeholder_year %}
    {% endif %}
  {% endif %}

  {% for event in events %} 
  {% assign current_year = event.date | date: "%Y" %} 
  {% assign href = event.url | default: "#" %} 
  {% assign is_past = false %}
  {% if event.date < today %}
    {% assign is_past = true %}
  {% endif %}
  {% assign wday = event.date | date: "%w" %}
  {% case wday %}
    {% when "0" %}{% assign wday_de = "So" %}
    {% when "1" %}{% assign wday_de = "Mo" %}
    {% when "2" %}{% assign wday_de = "Di" %}
    {% when "3" %}{% assign wday_de = "Mi" %}
    {% when "4" %}{% assign wday_de = "Do" %}
    {% when "5" %}{% assign wday_de = "Fr" %}
    {% when "6" %}{% assign wday_de = "Sa" %}
  {% endcase %}
  {% if current_year != last_year == true %}
  {% assign year_events = events | where_exp: "item", "item.date contains current_year" %}
  <thead>
    <tr>
      <th class="col-12 p-4" colspan="3">
        <h3>
          {{ current_year }}
          <span class="badge rounded-pill {% if include.placeholder_year and current_year == include.placeholder_year %}text-bg-primary{% else %}text-bg-secondary{% endif %} fs-6 align-middle ms-1">
            {{ year_events.size }}
          </span>
        </h3>
      </th>
    </tr>
  </thead>
  {% endif %}
  <tbody>
    <tr class="{% if is_past %}text-body-secondary opacity-50{% endif %}">
      <td class="col-3 col-sm-2">{{ wday_de }}, {{ event.date | date: "%d.%m." }}</td>
      <td class="col-7 col-sm-8">{{ event.name }} {{ event.venue }}</td>
      <td class="col-2">
        {% if href != "#" == true %}<a
          href="{{ href }}"
          class="btn {% if is_past %}btn-outline-secondary{% else %}btn-outline-primary{% endif %}"
          role="button"
          target="_blank"
        >
          Info / Tickets </a
        >{% endif %}
      </td>
    </tr>
  </tbody>
  {% assign last_year = event.date | date: "%Y" %} {% endfor %}
</table>
