<section id="music">
  <div class="container text-center">
    <h1>Music</h1>
    <div class="row mb-3 text-center">
      <div class="col col-lg-6 col-sm-12">
        <h5 class="mt-3">Director's Cut (2013)</h5>
        <img
          class="album img-fluid m-3"
          src="assets/images/dg-album-directors-cut.webp"
          alt="Daily Grind Director's Cut album"
        />
        {% include music-player.html spotify-uri =
        "album/1708ydctLfPKrHyBhyln8V" %}
      </div>
      <div class="col col-lg-6 col-sm-12">
        <h5 class="mt-3">Driven EP (2017)</h5>
        <img
          class="album img-fluid m-3"
          src="assets/images/dg-album-driven.webp"
          alt="Daily Grind Driven EP"
        />
      </div>
    </div>
  </div>
</section>
