<!-- MUSIC -->
<div class="container text-center">
  <h1>Music</h1>
  <div class="row mb-3 text-center">
    <div class="col">
      <img
        src="assets/images/dg-album-directors-cut.webp"
        alt="Daily Grind Director's Cut album"
      />
      <p>Director's Cut (2013)</p>
      <iframe src="https://open.spotify.com/embed/album/1708ydctLfPKrHyBhyln8V?utm_source=generator"></iframe>
    </div>
    <div class="col">
      <img
        src="assets/images/dg-album-driven.webp"
        alt="Daily Grind Driven EP"
      />
      <p>Driven EP (2018)</p>
    </div>
  </div>
</div>
<!-- MUSIC END -->
