<!-- NAV -->
<nav id="navbar-main" class="navbar navbar-expand-lg fixed-top navbar-dark shadow-5-strong data-mdb-navbar-init">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="{{ site.url }}">
      <img class="d-inline-block align-text-top" src="assets/images/dg-logo.webp" alt="{{ site.title }}" height="24">
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      

      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link" href="#news">News</a>
        <a class="nav-link" href="#live">Live</a>
        <a class="nav-link" href="#bio">Bio</a>
        <a class="nav-link" href="#music">Music</a>
        <a class="nav-link" href="#videos">Videos</a>
      </div>


      <div class="navbar-nav mb-lg-0 justify-content-end">
        {%- for entry in site.social_links -%}
          <a
            class="nav-link"
            target="_blank"
            title="{{ entry.title | default: entry.href }}"
            href="{{ entry.href }}"
            ><i class="{{ entry.icon-class }}"></i
          ></a>
        {%- endfor -%}
      </div>
    </div>
  </div>
</nav>
<!-- NAV END -->
