{% assign images = site.static_files | where_exp:"file", "file.path contains 'assets/images/news'" %}
<section id="news">
  <div class="container mt-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div
        id="newsCarousel"
        class="carousel slide col-10 col-sm-8 col-lg-6"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          {% for image in images %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img
              src="{{ site.baseurl }}{{ image.path }}"
              class="d-block w-100"
              alt="News image '{{ image.basename }}'"
              loading="lazy"
            />
          </div>
          {% endfor %}
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#newsCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#newsCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">NEWS</h1>
        <p class="lead">
          Quickly design and customize responsive mobile-first sites with
          Bootstrap, the world’s most popular front-end open source toolkit,
          featuring Sass variables and mixins, responsive grid system, extensive
          prebuilt components, and powerful JavaScript plugins.
        </p>
      </div>
    </div>
  </div>
</section>
