{% assign images = site.static_files | where_exp:"file", "file.path contains 'assets/images/news'" %}
<section id="news">
  <div class="container mt-5">
    <div class="row g-5 py-5">
      <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">NEWS</h1>
        <div id="news-posts">
          {% for post in site.posts %}
          <article class="news-post {% unless forloop.first %}d-none{% endunless %}">
            {%- unless forloop.first -%}
            <h5 class="fw-bold">{{ post.title }}</h5>
            <p class="text-body-secondary mb-3">{{ post.date | date: "%d.%m.%Y" }}</p>
            {%- endunless -%}
            {{ post.content }}
            {% unless forloop.last %}<hr class="my-4" />{% endunless %}
          </article>
          {% endfor %}
        </div>
        {% if site.posts.size > 1 %}
        <button id="load-more-news" class="btn btn-primary mt-3">Ältere News laden</button>
        {% endif %}
      </div>

      <div class="col-12 col-lg-6">
        <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for image in images %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img
                src="{{ site.baseurl }}{{ image.path }}"
                class="d-block w-100"
                alt="News image '{{ image.basename }}'"
                loading="lazy"
              />
            </div>
            {% endfor %}
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#newsCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#newsCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
