{% assign columns = 2 %} {% assign endColumn = columns | minus: 1 %}
<section id="videos">
  <div class="container text-center">
    <h1>Videos</h1>

    {%- for video in site.videos -%} {% assign remainder = forloop.index0 |
    modulo: columns %} {% if remainder == 0 %}
    <div class="row">
      {% endif %}
      <div class="col mb-3">
          <iframe
            class="yt-video"
            allow="fullscreen; autoplay; encrypted-media; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            title="{{ video.title }}"
            src="https://www.youtube-nocookie.com/embed/{{ video.youtube-id }}"
            loading="lazy"
          ></iframe>
          <p>
            <strong>{{ video.title }}</strong>
          </p>
      </div>
      {% if remainder == endColumn or forloop.last %}
    </div>
    {% endif %} {%- endfor -%}
  </div>
</section>
