@use "bootstrap/bootstrap";

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
    font-family: "Gotham Book", "Avenir Next", "Helvetica Neue", Arial, sans-serif;
}

ul {
    list-style-type: none;
}

body>footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2em 0 2em 0;
}

#hero { /* 450px */
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 4em;
    background: #00000044;
    border-radius: 1em;    
}

#hero img {
    min-width: 19em;
    max-width: 100%;
    height: auto;
}

/* This CSS will apply only when the screen width is less than 450 pixels */
@media screen and (max-width: 450px) {
    #hero h1 {
        font-size: 2.2em;
    }

    #hero {
        border-radius: 0;
    }
}

@media screen and (min-width: 450px) {
    #hero h1 {
        font-size: 3em;
    }
}

#hero h1 {
    color: #fff;
    padding: 0;
    margin: 0;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0 0 0.3em #000;
    white-space: nowrap;
}

#live {
    padding-top: 2em;
    padding-bottom: 2em;
}

#live h2 {
    color: #fff;
    font-size: 1.8em;
    text-shadow: 0 0 0.3em #000;
}

#live a {
    font-size: 1.2em;
    text-shadow: 0 0 0.3em #000;
}

#links {
    /*padding: 2em;*/
    /*background-color: #fff;*/
    /*border-radius: 1em;*/
    line-height: 5em;
}



#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#links li {
    display: inline;
    padding: 0.5em;
}

#links li a {
    font-size: 2.5em;
    text-shadow: 0 0 0.3em #000;
}

#archive {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: monospace;
    line-height: 1.4em;
}

@media screen and (min-width: 450px) {
    #archive {
        min-width: 40em;
    }
}

#carouselHero .carousel-item img {
    object-fit: cover;
    object-position: bottom;
    height: 900px;
    overflow: hidden;
}

.btn-circle {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}