// https://getbootstrap.com/docs/5.3/customize/sass/
// Configuration
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/bootstrap/functions";

// 2. Include any default variable overrides here
// Default variable overrides

/* Color Theme Swatches in HSLA */
/* https://color.adobe.com/Daily-Grind-Plymouth-Dark-color-theme-090abd25-b9c8-4c93-b3d1-c0d0d99468cf */
$Daily-Grind-Plymouth-Dark-1-hsla: hsla(351, 83, 21, 1);
$Daily-Grind-Plymouth-Dark-2-hsla: hsla(66, 9, 61, 1);
$Daily-Grind-Plymouth-Dark-3-hsla: hsla(40, 8, 13, 1);
$Daily-Grind-Plymouth-Dark-4-hsla: hsla(33, 19, 29, 1);
$Daily-Grind-Plymouth-Dark-5-hsla: #0c0a09;

$body-color-dark: $Daily-Grind-Plymouth-Dark-2-hsla;
$body-bg-dark: $Daily-Grind-Plymouth-Dark-5-hsla;
$primary: $Daily-Grind-Plymouth-Dark-1-hsla;


// TODO: font-family: "Gotham Book", "Avenir Next", "Helvetica Neue", Arial, sans-serif;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap/bootstrap/variables";
@import "bootstrap/bootstrap/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "bootstrap/bootstrap/maps";
@import "bootstrap/bootstrap/mixins";
@import "bootstrap/bootstrap/utilities";

// Layout & components
@import "bootstrap/bootstrap/root";

// 6. Optionally include any other parts as needed
@import "bootstrap/bootstrap/reboot";
@import "bootstrap/bootstrap/type";
@import "bootstrap/bootstrap/images";
@import "bootstrap/bootstrap/containers";
@import "bootstrap/bootstrap/grid";
@import "bootstrap/bootstrap/tables";
@import "bootstrap/bootstrap/forms";
@import "bootstrap/bootstrap/buttons";
@import "bootstrap/bootstrap/transitions";
// @import "bootstrap/bootstrap/dropdown";
// @import "bootstrap/bootstrap/button-group";
@import "bootstrap/bootstrap/nav";
@import "bootstrap/bootstrap/navbar";
@import "bootstrap/bootstrap/card";
@import "bootstrap/bootstrap/accordion";
// @import "bootstrap/bootstrap/breadcrumb";
// @import "bootstrap/bootstrap/pagination";
@import "bootstrap/bootstrap/badge";
// @import "bootstrap/bootstrap/alert";
// @import "bootstrap/bootstrap/progress";
@import "bootstrap/bootstrap/list-group";
@import "bootstrap/bootstrap/close";
// @import "bootstrap/bootstrap/toasts";
// @import "bootstrap/bootstrap/modal";
// @import "bootstrap/bootstrap/tooltip";
// @import "bootstrap/bootstrap/popover";
@import "bootstrap/bootstrap/carousel";
// @import "bootstrap/bootstrap/spinners";
// @import "bootstrap/bootstrap/offcanvas";
// @import "bootstrap/bootstrap/placeholders";

// Helpers
@import "bootstrap/bootstrap/helpers";

// 7. Include utilities API last to generate classes based on the Sass map in `_utilities.scss`
// Utilities
@import "bootstrap/bootstrap/utilities/api";

nav.navbar-solid {
    background-color: $body-bg-dark;
}

#carouselHero .carousel-item img {
    object-fit: cover;
    object-position: center;
    height:820px;
    aspect-ratio: 1/1;
    overflow: hidden;
}

#carouselHero .carousel-caption {
    height: 90%;
}

.btn-circle {
    aspect-ratio: 1 / 1;
    max-height: 6rem;
    max-width: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
}

.table>:not(caption)>*>* {
    background-color: #00000000;
}

iframe.music-player {
    border-radius: 16px;
    height: 360px;
    max-width: 450px;
}

img.album {
    max-height: 450px; 
    min-height: 250px; 
    min-width: 250px; 
    aspect-ratio: 1/1;
}

