---
layout: base
---

<div id="hero">
  <img src="assets/images/dg-logo.webp" width="500" height="60" alt="DAILY GRIND" />
  
  <div id="live">
      <h2>LIVE</h2>
      <p>
          <ul>
              <li><a href="https://www.kofferfabrik.cc/termine.html?TYP=DETAIL&VERANSTALTUNGID=295001&DATUM=2025-02-22">22.02.2025 20:00h Kofferfabrik Fürth</a></li>
          </ul>
      </p>
      <p>
          <a href="archive.html">Archiv</a>
      </p>
  </div>

  {% include social-list.html %}

</div>

{% include footer.html %}

</body>